<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-col align-self-center>
        <ion-img src="assets/img/s-work7-logo-11.png" class="log"></ion-img>
      </ion-col>
    </ion-buttons>

    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content role="feed">
  <ion-searchbar placeholder="Search location"  name="" [(ngModel)]="form.geo_address" #location="ngModel" #autocomplete> </ion-searchbar>

  <ion-grid >
  <ion-row scrollX="true" class="scroll-items">
    <ion-col *ngFor="let item of serviceData;let i=index"  class="circle">
      <!-- Items -->
      <button class="btn" [ngClass]="{'btn btn-danger': item._id === selectedService }" (click)="onClick(item._id)" >{{item.name}}</button>
      
      
    </ion-col>
  </ion-row>
  </ion-grid>

  <ion-list *ngFor="let item of user;let i = index;">


    <ion-item>
      <img slot="start" class="image" src="{{url}}{{item.imagePath}}" />

      <ion-label text-wrap>
        <!-- <h2>{{item.phone}}</h2> -->
        <h2>{{item.lastname}}-{{item.firstname}}</h2>
        <!-- <h2>{{item.service}}</h2> -->
        <h2>{{item.geo_address}}</h2>
        <p>Summary: {{item.discription}}</p>
    
        <ion-button *ngIf="selected==2" color="danger"  (click)="launchPage(item._id,item.shop,item.location)"><h2>Product-Details</h2></ion-button>
      </ion-label>

      <ion-avatar slot="end">
        <!-- <ion-button (click)="presentAlert(item._id)">
          <ion-img src="assets/img/phone-call.png"></ion-img>
        </ion-button> -->
        <a href="tel:{{item.phone}}"><ion-icon class="call" color="success" name="call-sharp"></ion-icon></a>
   
        <!-- <a [routerLink]="['/home']"><ion-img src="assets/img/phone-call.png" ></ion-img></a> -->

      </ion-avatar>
      
    </ion-item>



  </ion-list>
  <!-- <ion-infinite-scroll >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>