<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-col align-self-center>
        <ion-img src="assets/img/s-work7-logo-11.png" class="log"></ion-img>
      </ion-col>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<ion-title class="headertekst">Order Tracking</ion-title>
  <ion-card><div #mapElement class="map"></div></ion-card>
  <ion-card></ion-card>
</ion-content>
