.column{
    border-style: groove;
    border-radius: 19px;
    background-color: whitesmoke;
    height: 30px;
    padding: 0px 5px;
    text-align: center;
}
.log{
    display: grid;
    width: 70%;
    margin-left: 10px;
  }
  .cart_card {
  padding: 5px;
  color: black;
  background-color: whitesmoke;
}