<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent  color="dark">
      <ion-title>My Account</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon id="label" name="document" color="danger" slot="start"></ion-icon>
        <ion-label class="ion-label" (click)="uploadDoc()"><a>Upload Documents</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon id="label" name="document" color="danger" slot="start"></ion-icon>
        <ion-label class="ion-label" (click)="viewDoc()"><a>View Documents</a></ion-label>
      </ion-item>
      <!-- <ion-item>
        <ion-icon id="label" name="document" slot="start"></ion-icon>
        <ion-label class="ion-label" (click)="uploadDoc()"><a>Upload Documents</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon id="label" name="document" slot="start"></ion-icon>
        <ion-label class="ion-label" (click)="viewDoc()"><a>View Documents</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon id="label" name="document" slot="start"></ion-icon>
        <ion-label class="ion-label" (click)="orderRequest()"><a>Order Request</a></ion-label>
      </ion-item> -->
      <!--  <ion-item>
        <ion-icon id="label" name="key" slot="start"></ion-icon>
        <ion-label class="ion-label" [routerLink]="['/shop-user-profile']"><a>Profile</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon id="label" name="bag-sharp" slot="start"></ion-icon>
        <ion-label class="ion-label" (click)="onOrder()"><a>Orders</a></ion-label>
      </ion-item> -->

    </ion-list>
  </ion-content>
</ion-menu>
<!-- List of Text Items -->

<ion-content fullscreen>
  <div class="ion-page" id="main-content">


    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          <ion-row>
            <ion-col align-self-center>
              <ion-img src="assets/img/s-work7-logo-11.png" class="log" (click)="goBack()"></ion-img>
             
            </ion-col>
          </ion-row>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-icon name="log-out" (click)="signOut()" slot="start"></ion-icon>
        </ion-buttons>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
  </div>

  <img class="avatar" src="{{url}}{{imageData}}" alt="Avatar" />
  <h3 class="ion-text-center">{{firstName}}{{lastName}} <ion-badge color="danger">swork</ion-badge>
  </h3>
  <h5 class="ion-text-center">{{phone}}</h5>

  <!-- <div class="data__togle"> -->
  <ion-card>
    <ion-item color="">
      <ion-label class="label">Availablity:</ion-label>
      <ion-toggle [(ngModel)]="isToggled" (ionChange)="notify()" color="primary"></ion-toggle>
    </ion-item>
  </ion-card>
  <br>
  <!-- </div> -->

  <!-- <ion-grid *ngIf="showPayment">
    <ion-row>
      <ion-col>
        <ion-card id="card1" class="ion-text-center">
          <ion-icon id="flame" name="flame"></ion-icon>
          <ion-card-header>
            <ion-card-title class="card-title">Activate Base-Plan<br>#300 Rs</ion-card-title>
          </ion-card-header>
          <ion-button fill="outline" class="payment" color="light" mode="md" href="/payment">Click Here to Pay</ion-button>


        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="showPlan">
    <ion-row>
      <ion-col>
        <ion-card id="card1" class="ion-text-center">
          <ion-icon id="flame" name="flame"></ion-icon>
          <ion-card-header>
            <ion-card-title class="card-title">Plan Activation Valid Till </ion-card-title>
            <ion-card-title class="card-title" color="danger">{{endDate}}/{{endMonth}}/{{endYear}} </ion-card-title>

          </ion-card-header>


        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-item>
    <ion-label class="label" slot="start">User Name</ion-label>
    <p class="p" slot="end">{{firstName}}-{{lastName}}</p>

  </ion-item>

  <ion-item>
    <ion-label class="label" slot="start">Phone Number</ion-label>
    <p class="p" slot="end">{{phone}}</p>
  </ion-item>

  <ion-item>
    <ion-label class="label" slot="start">Location</ion-label>
    <p class="p" slot="end">{{geo_address}}</p>
  </ion-item>
  <ion-item>
    <ion-label class="label" slot="start">Ref-Number</ion-label>
    <p class="p" slot="end">{{rephone}}</p>
  </ion-item>
  <ion-item>
    <ion-label class="label" slot="start">Email</ion-label>
    <p class="p" slot="end">{{email}}</p>
  </ion-item>


</ion-content>



