.small-text{
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .fab-btn{
    width: 45px;
    height: 45px;
  }
  .log{
    display: grid;
    width: 70%;
    margin-left: 10px;
  }