<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent color="dark">
      <ion-title>My Account</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon id="label" name="document" slot="start"></ion-icon>
        <ion-label class="ion-label" (click)="uploadDoc()"><a>Upload Documents</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon id="label" name="document" slot="start"></ion-icon>
        <ion-label class="ion-label" (click)="viewDoc()"><a>View Documents</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon id="label" name="document" slot="start"></ion-icon>
        <ion-label class="ion-label" (click)="orderRequest()"><a>Order Request</a></ion-label>
      </ion-item>
      <!--  <ion-item>
        <ion-icon id="label" name="key" slot="start"></ion-icon>
        <ion-label class="ion-label" [routerLink]="['/shop-user-profile']"><a>Profile</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon id="label" name="bag-sharp" slot="start"></ion-icon>
        <ion-label class="ion-label" (click)="onOrder()"><a>Orders</a></ion-label>
      </ion-item> -->

    </ion-list>
  </ion-content>
</ion-menu>
<!-- List of Text Items -->

<ion-content fullscreen>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          <ion-row>
            <ion-col align-self-center>
              <ion-img src="assets/img/s-work7-logo-11.png" class="log" (click)="goBack()"></ion-img>

            </ion-col>
          </ion-row>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-icon name="log-out" (click)="signOut()" slot="start"></ion-icon>
        </ion-buttons>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>

  </div>

  <img class="avatar" src="{{url}}{{imageData}}" alt="Avatar" />
  <h3 class="ion-text-center">{{firstName}}{{lastName}} <ion-badge color="danger">swork</ion-badge>
  </h3>
  <h5 class="ion-text-center">{{phone}}</h5>

  <ion-card>
    <ion-item color="">
      <ion-label class="label">Availablity:</ion-label>
      <ion-toggle [(ngModel)]="isToggled" (ionChange)="notify()" color="primary"></ion-toggle>
    </ion-item>
  </ion-card>
  <br>




    <ion-card id="card1" class="ion-text-center" *ngIf="showPayment">
      <ion-icon id="flame" name="flame"></ion-icon>
      <ion-card-header>
        <ion-card-title class="card-title">Activate Base-Plan<br>#730 Rs</ion-card-title>
      </ion-card-header>
      <ion-button size="large" shape="round" fill="clear"  color="success" href="/payment">Click Here to Pay</ion-button>


    </ion-card>





  <ion-grid *ngIf="showPlan">
    <ion-row>
      <ion-col>
        <ion-card id="card1" class="ion-text-center">
          <ion-icon id="flame" name="flame"></ion-icon>
          <ion-card-header>
            <ion-card-title class="card-title">Plan Activation Valid Till </ion-card-title>
            <ion-card-title class="card-title" color="danger">{{endDate}}/{{endMonth}}/{{endYear}} </ion-card-title>

          </ion-card-header>


        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid>
   <ion-row>
    <ion-col>
     
        <ion-title color="danger" class="ion-text-center">User Details</ion-title>
     
    </ion-col>
   </ion-row>
    <ion-row>
      <ion-col size="4"><ion-text color="dark" >User Name</ion-text></ion-col>
      <ion-col><ion-text color="dark">{{firstName}}-{{lastName}}</ion-text></ion-col>
    </ion-row>
    <ion-row>
      <ion-col  size="4"><ion-text color="dark">Phone Number</ion-text></ion-col>
      <ion-col><ion-text color="dark">{{phone}}</ion-text></ion-col>
    </ion-row>
    <ion-row>
      <ion-col  size="4"><ion-text color="dark">Location</ion-text></ion-col>
      <ion-col><ion-text color="dark">{{geo_address}}</ion-text></ion-col>
    </ion-row>
    <ion-row>
      <ion-col  size="4"><ion-text color="dark">Ref-Number</ion-text></ion-col>
      <ion-col><ion-text color="dark">{{rephone}}</ion-text></ion-col>
    </ion-row>
    <ion-row>
      <ion-col  size="4"><ion-text color="dark">Email</ion-text></ion-col>
      <ion-col><ion-text color="dark">{{email}}</ion-text></ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-row>

    <ion-col>


      <ion-card-content id="card1" class="ion-text-center">

        <ion-button fill="outline" color="light" mode="md" (click)="signOut()">LogOut</ion-button>
      </ion-card-content>

    </ion-col>
  </ion-row> -->

</ion-content>



<!-- <section class="form__footer mt-0 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-6 border__right">
        <div class="left__btn">
          <a (click)="signOut()"><i class="fas fa-home"></i>LogOut</a>
        </div>
      </div>
       <div class="col-md-6 col-6">
        <div class="left__btn">
          <a href="/payment"  *ngIf="showPayment"><i class="fas fa-info-circle"></i> Make-Payment</a>
          <a   *ngIf="showPlan"><i class="fas fa-info-circle"></i> view-plan</a>

        </div>
      </div>
    </div>
  </div>
</section> -->