.log{
    display: grid;
    width: 70%;
    margin-left: 10px;
  }
  .close{
    // border-right-style: solid;
    // border-color: black;
    width: 50px;
    height: 40px;
  }
  .check{
    width: 50px;
    height: 40px;
  }
  .call{
    width: 50px;
    height: 38px;
  }
  .label_item{
    white-space: break-spaces
  }